:root {
    --darkpink: #b8a898;
    --lightpink: #d2beb4;
    --darkbrown: #6B4932;
    --black: black;
    --white: #ffffff;
    --grey:#EDEDED ;
    --darkgrey: #908B8B; 
  }
  a{
    color: var(--black);
    text-decoration: none;
}
 .header{
    background-color: var(--lightpink);
    padding: 5px ;
    font-size: 12px;
  }
  .head--nav{
    padding-left: 70px;
  }
  .cothebancungthich{
    font-weight: bold;
    padding-left: 30px;
  }
  .timkiem{
    position: relative; 
    color: var(--darkbrown);
}
.khongtimthay{
    color: var(--darkbrown);
}

.bar{
    text-align: center;
    display: block;
    width: 70px;
    height: 0px;
    margin-top: 2px;
    border: 2px solid var(--darkbrown);
} 
.icon__notsearch{
    color: var(--lightpink);
    margin-top: 70px;
    margin-bottom: 70px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar--timkiem{
    background-color: var(--grey);
    margin-top: 30px;
    width: 500px;
}
button{
    background-color: var(--darkbrown);
}
.icon__search{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button__search:hover{
    background-color: var(--darkpink);
}
.button__search{
    border: var(--darkbrown) 0,5px solid;
}
.form-control{
    background-color: var(--grey);
    border: none;
}